<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Jot Down{{/block}}</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
   <style>
   .filters {width:20%;position:fixed;top:0;left:0;height:100%;overflow:auto;background-color: aliceblue;}
   .forms {width:20%;position:fixed;top:0;right:0;height:100%;overflow:auto;background-color: antiquewhite;}
   .content {width:60%;margin:auto;}
   body {user-select:none;font-family: "Trebuchet MS", Helvetica, sans-serif;}
   </style>
</head>
<body>
 <div class="filters p-1 pt-3">
    <ul>
       <li>Jenkins</li>
    </ul>
 </div>

 <div class="content shadow-sm p-3">
  <div class="">
    <div class="">
      View Pane
    </div>
  </div>
 </div>

  <div class="forms p-1 pt-3">
     <ul>
       <li>Create Heroes or Create Squads</li>
    </ul>
   </div>
</body>
</html>